<div class="container">
  <%= render partial: 'navbar' %>
  <%= render partial: "form", locals: { environments: @app_environments } %>
  <h4>( <%= @total_sites %> ) found with your filter </h4>
  <% if @total_sites>@sites.count %>
    <h5>The list limit is <%= @limit %>. Please use the filters to find your site. </h5>
  <% end %>
  <hr />
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Stage Box</th>
          <th>Site</th>
          <th>Action</th>
          <th>Stage Type</th>
        </tr>
      </thead>
      <tbody>
        <% @sites.each do |site| %>
          <tr>
            <td><%= site[:app_name] %></td>
            <td class="app"><%= site[:site_name] %></td>
            <td>
              <%= link_to 'login', site[:uri] , class: 'btn btn-primary', target: '_blank' %>
            </td>
            <td><%= site[:environment] %></td>
          </tr>
        <% end %>
      </tbody>

    </table>

  </div>
</div>

