
<%= form_tag admin_user_sites_edit_path, method: :get do %>

  <div class="c-card">

    <%= text_field_tag :site_name, session[:site_name_filter], placeholder: 'site name' %>

    <%= hidden_field_tag :user_id, params[:user_id] %>

    <footer class="c-card__footer c-card__footer--block">
      <div class="c-input-group">
        <p class="c-button--block">(Limit: 30 sites)</p>
      </div>
      <div class="c-input-group">
        <%= submit_tag :filter, class: 'c-button c-button--info c-button--block' %>
        <%= link_to "Clear Filter", admin_user_sites_clear_edit_filter_path + "?user_id=#{params[:user_id]}", class: 'c-button c-button--default c-button--block' %>

      </div>
      <div class="c-input-group">
        <br />
      </div>
    </footer>
  </div>

<% end %>
