<!DOCTYPE html>
<html>
<head>
  <title><%= first_domain %> Authentication Server</title>
  <%= stylesheet_link_tag "doorkeeper/admin/application" %>
  <%= stylesheet_link_tag "welcome" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-signin-client_id" content="529393474094-m8je0g0g5mjhme407depll8p6fv3blhu.apps.googleusercontent.com">
</head>
<body>

<%= yield %>

</body>
</html>
