<html lang="en">
  <head>
    <title><%= first_domain %> Authentication Server</title>
    <%= stylesheet_link_tag "welcome" %>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="<%= ENV['GOOGLE_CLIENT_ID'] %>">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%= csrf_meta_tags %>
    <style>
.error {
  margin: 2em auto 0;
}
  .error p {
    color: red;
    font-weight: bold;
    padding: 1em;
    background-color: #ff120033;
    border-radius: 5px;
  }
    </style>
  </head>
  <body>

    <div id="container" class="container">
      <header class="page-header" role="banner">
        <h1><%= first_domain %></h1>
        <h3>Authentication server</h3>
      </header>

      <main role="main">
        <%= javascript_include_tag "login" %>
        <%= yield %>
      </main>
    </div>

  </body>
</html>
